:root {
  --primary-background-color: rgb(64, 78, 237);
  --primary-font-color: rgb(87, 101, 242);
  --secondary-background-color: rgb(246, 246, 246);
  --footer-background-color: rgb(35, 39, 42);
  --off-white: rgb(246, 246, 246);
  --text-link: rgb(0, 176, 244);
  --form-bg-color: rgb(54, 57, 62);
  --form-input-bg-color: rgb(32, 34, 37);
  --form-link-color: rgb(1, 174, 244);
  --button-hover-color: rgb(71, 82, 196);
  --date-background-color: rgb(48, 51, 56);
  --date-border-color: rgba(32, 34, 37);
  --date-border-hover-color: rgb(22, 24, 26);
  --date-hover-color: rgb(36, 39, 42);
  --servers-section-background-color: rgb(32, 34, 37);
  --channles-section-background-color: rgb(46, 49, 54);
  --chat-section-background-color: rgb(54, 57, 62);
  --err-msg-color: rgb(243, 134, 136);
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 1px solid green; */
}

@font-face {
  font-family: uni-sans;
  src: url("./fonts/uni-sans/Uni\ Sans\ Heavy.otf");
}
